<!DOCTYPE html>
<html>
<title>Code Camp</title>
<script src="{{ STATIC_URL }}script/vendor/jquery-1.9.1.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/handlebars-1.0.0-rc.4.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-1.0.0-rc.5.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-data.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/adapter.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" type="text/css">
<body>
{% verbatim %}

<script type="text/x-handlebars" data-template-name="application">
{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="rooms">
{{#each room in controller}}
  {{room.name}}<br />
  {{#linkTo 'room' room}}View Room Details{{/linkTo}}<br /><br />
{{else}}
  Keine Räume bisher :(
{{/each}}

<p>
<form>
  {{view Ember.TextField placeholder="name" valueBinding="view.name"}}
  <button {{action addRoom target="view"}} type="submit">Add Room</button>
</form>
</p>
</script>

<script type="text/x-handlebars" data-template-name="room">
Room

{{name}}

<br />
  {{#each user in users}}
    {{user.name}}<br />
    {{#linkTo 'user' user}}View user Details{{/linkTo}}<br /><br />
    {{#each tag in user.tags}}
      {{tag.label}}<br />
    {{/each}}
  {{else}}
    Keine User bisher :(
  {{/each}}

<p>
<form>
  {{view Ember.TextField placeholder="name" valueBinding="view.name"}}
  <button {{action addUser target="view"}} type="submit">Add User</button>
</form>
</p>
</script>


{% endverbatim %}
<script src="{{ STATIC_URL }}script/app/hackathon2013.js" type="text/javascript"></script>
</body>
</html>
