<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gravitee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/gravity.less" rel="stylesheet/less" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}script/vendor/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.4/sammy.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}script/vendor/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}script/vendor/less-1.3.3.min.js"></script>

    <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>

    <!--  GWT
    <script src="{{ STATIC_URL }}script/gravity/gravity.nocache.js"></script>
    <link href="{{ STATIC_URL }}css/gwt.css" rel="stylesheet/css" media="screen">
    -->

  </head>
  <body>
    {% verbatim %}
    <div id="page" data-bind="template: $data">
    </div>

<script id="RoomListTemplate" type="text/html">
    <div class="container">
        <h1>Gravitee</h1>

          <h2>Location</h2>

        <ul class="roomlist unstyled" data-bind="foreach: rooms">
          <li class="room" data-bind="css: {selected: $parent.selectedGroup() && $parent.selectedGroup() === $data}, click: $parent.selectGroup, text: name"></li>
        </ul>

    <h2>Name</h2>

    <!-- ko if: errors().length -->
    <ul class="unstyled" data-bind="foreach: errors">
      <li data-bind="text: $data"></li>
    </ul>
    <!-- /ko -->

    <form class="form-search">
        <input type="text" data-bind="value: loginName" placeholder="Name" />
        <button type="submit" class="btn" data-bind="click: goToRoom">GO!</button>
    </form>

    </div>
</script>

<script type="text/html" id="RoomDetailTemplate">
    <div class="container">
        <h1>Gravitee</h1>

        <h2>
            Room
            <!-- ko if: currentRoom() -->
            <span data-bind="text: currentRoom().name"></span>
            <!-- /ko -->
        </h2>

        <p class="go-back"><a href="/"><i class="icon-chevron-sign-left"></i> Go back</a></p>

        <div id="graph" data-bind="cytoscape: visualizationOptions">
          <canvas style="position: absolute; z-index: -1;" id="background" width="800" height="600"></canvas>
        </div>
      </div>

      <input type="hidden" id="goToDetailButton" class="btn" data-bind="click: goToDetailView"/>
</script>


<script type="text/html" id="UserDetailTemplate">
    <div class="container">
        <h1>Gravitee</h1>

        <h2>
            User
            <!-- ko if: currentUser() -->
            <span data-bind="text: currentUser().name"></span>
            <!-- /ko -->
        </h2>

        <p class="go-back"><a data-bind="attr: {href: backToRoomUrl}">
          <i class="icon-chevron-sign-left"></i> Go back</a></p>


      <!-- ko if: currentUser() && currentUser().tags().length -->
      <ul class="tags-holder" data-bind="foreach: currentUser().tags">
        <li>
          <div style="overflow:hidden;">
          <a>
              <span class="text">
                  <span data-bind="text: $data"></span>
              </span>
              <span class="arrow">&bullet;</span>
          </a>
          </div>
        </li>
      </ul>
      <!-- /ko -->

        <div>
            <form>
                <input data-bind="value: newTag" placeholder="Tag" />
                <div style="overflow:hidden;">
                  <button data-bind="click: addNewTag">Add</button>
                </div>
            </form>
        </div>
        <button data-bind="click: update">Update</button>
      </div>
</script>


    {% endverbatim %}
    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
    <script src="{{ STATIC_URL }}script/app/hackathon2013.js" type="text/javascript"></script>
  </body>
</html>



