@aluminium1: #eeeeec;
@aliminium2: #d3d7cf;
@aluminium3: #babdb6;
@aluminium6: #2e3436;
@butter1: #fce94f;
@butter2: #edd400;
@butter3: #c4a000;
@chameleon1: #8ae234;
@chameleon2: #73d216;
@chameleon3: #4e9a06;
@chocolate1: #e9b96e;
@chocolate2: #c17d11;
@chocolate3: #8f5902;
@orange2: #f57900;
@orange3: #ce5c00;
@plum1: #ad7fa8;
@plum2: #75507b;
@plum3: #5c3566;
@scalet1: #ef2929;
@scarlet2: #cc0000;
@scarlet3: #a40000;
@sky1: #729fcf;
@sky2: #3465a4;
@sky3: #204a87;

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body
{
    background-color: @aluminium6;
    background-image: url(http://trip-app.com/static/css/../img/layout/bg.png);

    font-family: 'Droid Sans', sans-serif;

}

h1, h2, h3
{
    font-family: 'Roboto Slab', serif;
}

.container
{
}

.roomlist
{

    ul
    {
        list-style-type: none;
    }
}
